// importing Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

// normalizing elements
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
:root{
    --clr-one:#1caadf;
    --clr-two:#2C2F30;
    --clr-three:#edefec;
}
// the default colors
$main-color: var(--clr-one);
$second-color: var(--clr-two);
$third-color: var(--clr-three);

body{
    background-color: $second-color;
    padding-top: 80px;
}
main{
    width: 100%;
}
main::after{
    content: "01";
    color: $third-color;
    font-size: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0.05;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 50%;
    transform: translate(-50%, -50%);
}

h2{
    color: $main-color;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.cont{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0;
}

// customizing the scrollbar (not supporteed at all browsers)
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $second-color;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// defining the breakpoints
$sm:576px;
$md:768px;
$lg:992px;
$xlg:1200px;

$max-width-xlg: $xlg - 130;
$max-width-lg: $lg - 130;
$max-width-md: $md - 50;
$max-width-sm: $sm - 30;

// adjusting the max width of the sections via breakpoints
@media (max-width:$sm){
    h2{
        font-size: 35px;
    }
    .cont{
        max-width: calc(100% - 30px);
        padding: 30px 0;
    }
    main::after{
        font-size: 15rem;
        top: 40%;
    }
}

@media (min-width:$sm) and (max-width:$md) {
    .cont{
        max-width: $max-width-sm;
        padding: 30px 0;
    }
    main::after{
        font-size: 30rem;
        top: 50%;
    }
}

@media (min-width:$md) and (max-width:$lg) {
    .cont{
        max-width: $max-width-md;
        padding: 60px 0;
    }
    main::after{
        font-size: 40rem;
        top: 60%;
    }
}

@media (min-width:$lg) and (max-width:$xlg) {
    .cont{
        max-width: $max-width-lg;
        padding: 60px 0;
    }
}

@media (min-width:$xlg){
    .cont{
        max-width: $max-width-xlg;
    }
}