section.about
    .cont
        h2 About Me 
        figure
            img(src="./assests/images/me/persone.png", alt="")
            figcaption My name is Mohamed Ayaou, and I’m a Self-though web and graphic designer in Tiznit, Morocco.I have been stdutying in this domain for 3 years with many example projects.I have an experience in ui/ux, marketing, security, Adobe apps, most top languages of programming of web/front-end/back-end/desktop, and more. For more details you can see my CV and take a look on my work’s source files or you can ask me directly via contact options above.
                br
                button MY CV


                