section.blog 
    .cont
        div.head
            h3 My blog 
            h4: a(href="#") See All
        div.body
            div.one
                div
                    div.img: img(src="./assests/images/blog/image_center.png", alt="blog post bg")
                    div.text
                        h2 SEO in 2022: What A website need to reach the top.
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, voluptatum natus praesentium qui.
            div.two
                div 
                    div.img: img(src="./assests/images/blog/image_center.png", alt="blog post bg")
                    div.text
                        h2 SEO in 2022: What A website need to reach the top.
                div
                    div.img: img(src="./assests/images/blog/image_center.png", alt="blog post bg")
                    div.text
                        h2 SEO in 2022: What A website need to reach the top.