section.landing 
    .cont
        article 
            h1 
                span WEB
                | /
                span Graphic 
                br
                | Designer
            p My name Mohamed Ayaou, and I’m a self-learned web and graphic designer from Tiznit, Morocco. You can take a look on my works or contact me directly.
            div
                button CONTACT NOW
                button MY WORKS
        article 
            figure 
                img(src="./assests/images/hero.jpg", alt="Hero image")
    