section.policies
    .cont
        h2 Payment & Policies
        div 
            figure: img(src="./assests/images/Device.png", alt="")
            div.text 
                h3 Contract 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                ul 
                    li Payments is as it is written in the contract.
                    li Late payments will add time to the deadline.  
                    li Acceptable payment ways: