section.portfolio 
    .cont
        h2 My Portfolio
        div.slider
            div.pics 
                img(id="selected" src="./assests/images/portfolio/test_001.jpg", alt="")
                button.prev <
                button.next >
                
            div.btns
                - for (var i=1;i<7;i++)
                    img(src='./assests/images/portfolio/test_00'+i+'.jpg', alt="Portfolio pic")