section.pricing 
    .cont
        h2 Pricing 
        div.prices
            div.price
                h3 Design 
                img(src="./assests/images/features/feature.png", alt="")
                h4 100$
                p Lorem ipsum dolor sit amet, adipisicing elit. Dolor ipsum sit vero neque est! Id adipisci quasi ipsa dolorum officia voluptate.
                button MORE
            div.price
                h3 Coding 
                img(src="./assests/images/features/feature.png", alt="")
                h4 100$
                p Lorem ipsum dolor sit amet, adipisicing elit. Dolor ipsum sit vero neque est! Id adipisci quasi ipsa dolorum officia voluptate.
                button MORE
            div.price
                h3 Securing 
                img(src="./assests/images/features/feature.png", alt="")
                h4 100$
                p Lorem ipsum dolor sit amet, adipisicing elit. Dolor ipsum sit vero neque est! Id adipisci quasi ipsa dolorum officia voluptate.
                button MORE
        h4 Money back guaratee if you don’t get the results your looking, 
            span: a(href="#") click for details.