section.rates 
    div.cont
        h2 Clients' Rates 
        div.rates-slider
            .rate 
                div.head
                    img(src="./assests/images/clients/client_001.jpg", alt="A client")
                    div
                        h3 Client's Name
                        h4 The Date
                div.body
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus totam sed commodi amet officiis soluta, ea vel deleniti necessitatibus libero quod assumenda iusto repellat est illo corporis adipisci ipsa placeat?
            .rate 
                div.head
                    img(src="./assests/images/clients/client_001.jpg", alt="A client")
                    div
                        h3 Client's Name
                        h4 The Date
                div.body
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus totam sed commodi amet officiis soluta, ea vel deleniti necessitatibus libero quod assumenda iusto repellat est illo corporis adipisci ipsa placeat?
            .rate 
                div.head
                    img(src="./assests/images/clients/client_001.jpg", alt="A client")
                    div
                        h3 Client's Name
                        h4 The Date
                div.body
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus totam sed commodi amet officiis soluta, ea vel deleniti necessitatibus libero quod assumenda iusto repellat est illo corporis adipisci ipsa placeat?
