.about{
    width: 100%;
    .cont{
            figure{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
                img{
                    width:100%;
                }
            
                figcaption{
                    color: $third-color;
                    line-height: 35px;
                    font-size: 24px;
                    
                    text-align: justify;
                }
                button{
                    color: $main-color;
                    background-color: $second-color;
                    outline: 1px solid $main-color;
                    margin-top: 20px;
                    font-weight: bold;
                    border: none;
                    font-size: 18px;
                    border-radius: 5px;
                    padding: 10px 0;
                    width: 300px;
                    &:hover{
                        color: $second-color;
                        background-color: $main-color;
                        outline-color: $second-color;
                    }
                }
        }
    }
    
    @media(max-width:$md) {
        .cont figure{
            flex-direction: column;
            figcaption button{
                width: 100%;
            }
        }
    }
}