.contact{
    width: 100%;
    .cont{
        
        & > div{
            display: flex;
            align-items: center;
            gap: 40px;
            .form{
                width: 100%;
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    input,textarea{
                        background-color: $third-color;
                        color: $second-color;
                        border: none;
                        border-radius: 5px;
                        padding: 20px;
                        height: 60px;
                        font-size: 16px;
                        &[type = "submit"]{
                            background-color: $main-color;
                            color: $second-color;
                            border: none;
                            border-radius: 5px;
                            font-weight: bold;
                            cursor: pointer;
                            &:hover{
                                background-color: $second-color;
                                color:$main-color ; 
                                outline: 1px solid $main-color;
                            }
                        }
                    }
                    textarea{
                        height: 150px;
                    }
                }
            }
            .line{
                width: 2px;
                height: 300px;
                background-color: $third-color;
            }
            .links{
                width: fit-content;
                display: grid;
                position: relative;
                grid-template-columns: 100px 100px;
                gap: 30px;
                a{
                    height: 100px;
                    width: 100px;
                    img{
                        width: 100%;

                    }
                }
                
            }
        }
    }
    
    @media (max-width:$md) {
        .cont .lay{
            flex-direction: column-reverse;
            .line{
                display: none;
            }
            .links{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                a{
                    width: 25%;
                    height: 100%;
                }
            }
            
        }
    }
    
}