.contact{
    width: 100%;
    position: relative;
    .cont{
        
        & > div{
            display: flex;
            align-items: center;
            gap: 40px;
            
            .line{
                width: 2px;
                height: 300px;
                background-color: $third-color;
            }
            .links{
                width: fit-content;
                display: grid;
                position: relative;
                grid-template-columns: 100px 100px;
                gap: 30px;
                a{
                    height: 100px;
                    width: 100px;
                    img{
                        width: 100%;

                    }
                }
                
            }
            .form{
                width: 100%;
                form{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    input,textarea{
                        background-color: $third-color;
                        color: $second-color;
                        border: none;
                        border-radius: 5px;
                        padding: 15px;
                        height: 50px;
                        font-size: 16px;
                        &[type = "submit"]{
                            background-color: $main-color;
                            color: $second-color;
                            border: none;
                            border-radius: 5px;
                            font-weight: bold;
                            cursor: pointer;
                            &:hover{
                                background-color: $second-color;
                                color:$main-color ; 
                                outline: 1px solid $main-color;
                            }
                        }
                    }
                    textarea{
                        height: 150px;
                    }
                }
                .modal{
                    position: fixed;
                    display: block;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%,-50%) scale(0,1);
                    transform-origin: left;
                    flex-direction: column;
                    justify-content: space-between;
                    height: fit-content;
                    width: 90%;
                    box-shadow: 0 0 0 100vh rgb(0 0 0 / 50%);
                    max-width: 500px;
                    background-color: #edefec;
                    color: #fff;
                    padding: 30px;
                    h3{
                        font-size: 28px;
                    }
                    p{
                        margin: 10px 0;
                    }
                    button{
                        padding: 10px;
                        background-color: $third-color;
                        color: $second-color;
                        border: none;
                        font-size: 18px;
                        width: 100%;
                        font-weight: bold;
                    }
                    &.Success{
                        background-color: darkturquoise;
                    }
                    &.Error{
                        background-color: crimson;
                    }
                }
                .show{
                    transform: translate(-50%,-50%) scale(1,1);
                    transform-origin: left;
                    left: 50%;
                    transition: 1s;
                }
            }
        }
    }
    
    @media (max-width:$md) {
        .cont .lay{
            flex-direction: column-reverse;
            .line{
                display: none;
            }
            .links{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                a{
                    width: 25%;
                    height: 100%;
                }
            }
            
        }
    }
    
}