.features{
    width: 100%;
    .cont{
        
        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
            gap: 40px;
            .feature{
                display: flex;
                gap:25px;
                .pic{
                    background-color: $main-color;
                    height: 100px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    flex-shrink: 0;
                    position: relative;
                    animation: around-rotate 12s cubic-bezier(0,0,0,0) infinite;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        transform: translateY(-50%);
                        background: $second-color;
                        height: 15px;
                        width: 15px;
                        border: 2px solid $main-color;
                        border-radius: 50%;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        transform: translateY(50%);
                        background: $second-color;
                        height: 15px;
                        width: 15px;
                        border: 2px solid $main-color;
                        border-radius: 50%;
                    }
                    
                    img{
                        animation: around-rotate-rev 12s cubic-bezier(0,0,0,0) infinite;
                    }
                    @keyframes around-rotate {
                        from{
                            transform: rotate(0deg);
                        }
                        to{
                            transform: rotate(360deg);
                        }
                    }
                    @keyframes around-rotate-rev {
                        from{
                            transform: rotate(0deg);
                        }
                        to{
                            transform: rotate(-360deg);
                        }
                    }
                }
                .text{
                    h4{
                        color: $main-color;
                        font-size: 26px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    p{
                        color: $third-color;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    @media (max-width:$sm){
        .cont .container{
            grid-template-columns: 2fr;
            .feature{
                align-items: center;
                text-align: center;
                flex-direction: column;
                .text p{
                    font-size: 18px;
                    line-height: 22px;                
                }
            }
        }
    }
    
    @media (min-width:$sm) and (max-width:$md) {
        .cont .container .feature{
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
    }
    
    @media (min-width:$md) and (max-width:$lg) {
        
    }
    
    @media (min-width:$lg) and (max-width:$xlg) {
        
    }
}