.portfolio{
    width: 100%;
    .cont{
        
        .slider{
            position: relative;
            .pics{ 
                width: 100%;
                img{
                    width: 100%;
                }
                
            }
            .btns{
                width: 100%;
                display: flex;
                overflow-x: scroll;
                padding: 5px 2px;
                &::-webkit-scrollbar {
                    height: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    background: #555;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: $main-color;
                }
                img{
                    width: 18%;
                    height: 100%;
                    cursor: pointer;
                    &.active{
                        outline: 2px solid white;
                        z-index: 1000;
                    }
                }
                
            }
        }
    }
    @media (max-width:$sm){
        .cont .slider .btns{
            height: 70px;
            img{
                width: 100%;
            }
        }
    }
}