.portfolio{
    background-color: $second-color;
    width: 100%;
    .cont{
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        padding: 60px 0;
        h2{
            color: $main-color;
            font-size: 40px;
            margin-bottom: 30px;
            text-align: center;
        }
        .slider{
            position: relative;
            padding: 0 10%;
            .pics{ 
                width: 100%;
                img{
                    width: 100%;
                }
                button{
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    top: 50%;
                    color: $main-color;
                    background-color: rgba(0,0,0,0);
                    border: none;
                    font-size: 20px;
                    font-weight: 900;
                    &.prev{
                        left: 0;
                    }
                    &.next{
                        right: 0;
                    }
                }
                
            }
            .btns{
                width: 100%;
                display: flex;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    height: 10px;
                }
                
                &::-webkit-scrollbar-track {
                    background: #555;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: $main-color;
                }
                img{
                    width: 18%;
                }
            }
        }
    }
}