.pricing{
    width: 100%;
    .cont{
        
        .prices{
            display: flex;
            gap: 40px;
            .price{
                background-color: $third-color;
                border: none;
                border-radius: 5px;
                display: flex;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                padding: 40px;
                h3{
                    font-size: 26px;
                }
                img{
                    width: 100px;
                }
                h4{
                    color: $main-color;
                    font-size: 30px;
                }
                p{
                    text-align: center;
                    line-height: 30px;
                }
                button{
                    background-color: $main-color;
                    color: $third-color;
                    width: 100%;
                    padding: 10px 70px;
                    border: none;
                    border-radius: 5px;
                    font-weight: bold;
                    cursor: pointer;
                    &:hover{
                        background-color: $third-color;
                        color: $main-color ;
                        outline: 1px solid $main-color;
                    }

                }
            }
        }
        & > h4{
            text-align: center;
            margin-top: 20px;
            font-weight: 300;
            color: $main-color;
            span a{
                color: $main-color;
            }
        }
    }
    
    @media (max-width:$lg) {
        .cont .prices{
            flex-direction: column;
        }
    }
    @media (max-width:$md) {
        .cont .prices .price{
            padding: 30px;
        }
    }
}