footer 
    div.cont
        div.top
            div.info
                h3 MAWEB 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamquis.
            div.sec1
                h4 SERVICES
                ul 
                    each val in ["link 1 link","link 2 link","link 3 link","link 4 link"]
                        li #{val}
            div.sec2
                h4 ABOUT MAWEB
                ul 
                    each val in ["link 1 link","link 2 link","link 3 link","link 4 link"]
                        li #{val}
            div.sec3
                h4 CONTACT DETAILS
                ul 
                    each val in ["+212 608 671 716","ayamoh001@gmail.com","Tznit El Fath Erac"]
                        li #{val}
        div.bottom
            a Copyrights.
            a Agreements and Ploicies.

script(src="./assests/js/main-min.js")