- var title="Home | Mohamed Ayaou"
include layout/header

include components/landing
include components/features
include components/portfolio
include components/pricing
include components/rates
include components/contact
include components/about
include components/blog
include components/policies

include layout/footer