- var title="Home | Mohamed Ayaou"
include layout/header

main
    include components/landing
    include components/features
    include components/portfolio
    include components/contact
    include components/pricing
    include components/policies
    include components/rates
    include components/about
    include components/blog

include layout/footer